body {
  margin: 1rem;
}

h1 {
  justify-self: center;
}

h2 {
  margin-top: 0;
}

main {
  display: flex;
}

#allPlayers {
  min-width: 50%;
  padding: 1rem;
  border-right: 3px dotted black;
}

#selectedPlayer {
  min-width: 33%;
  flex-grow: 1;
  padding: 1rem;
}

.TeamGrid {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

summary {
  font-size: 2rem;
}

.PlayerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(min(100px, 100%), 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.PlayerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px dashed darkgray;
  border-radius: 10%;
  background-color: gainsboro;
}

.selected {
  border: 2px solid black;
}

.TeamGrid p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 10% 10% 0 0;
}

.playerInfo {
  position: sticky;
  top: 1rem;

  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
}

.playerInfoDefault {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.playerInfo img {
  max-height: 100%;
  border-radius: 1rem;
  align-self: center;
}

@media (600px <= width <= 750px) {
  main {
    display: flex;
  }

  .TeamGrid {
    flex-grow: 1;
  }

  .playerInfo {
    display: flex;
    flex-direction: column;
  }

  .playerInfo img {
    max-height: 50vh;
    width: fit-content;
  }
}

@media (width < 600px) {
  main {
    display: flex;
    flex-direction: column;
  }

  #allPlayers {
    border-right: none;
  }

  .playerInfo {
    display: flex;
    flex-direction: column;
  }
}
