.smallMode {
  display: none;
}

.largeMode {
  display: block;
}

body {
  margin: 0;
}

#sections {
  display: flex;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}

h2 {
  margin-top: 0;
}

img {
  width: 100%;
  border-radius: 10% 10% 0 0;
}

@media (600px <= width <= 750px) {
  main {
    display: flex;
  }
}

@media (width < 600px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .largeMode {
    display: none;
  }

  .smallMode {
    display: flex;
  }
}
