#allPlayers {
  min-width: 50%;
  padding: 1rem;
  border-right: 3px dotted black;
}

.TeamsList {
  display: flex;
  flex-direction: column;
}

.TeamGrid {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

summary {
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.PlayerGrid {
  padding: 1rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(min(100px, 100%), 1fr));
  gap: 1rem;
}

.PlayerCard {
  max-width: max(214px, 33%);
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px dashed darkgray;
  border-radius: 10%;
  background-color: gainsboro;
}

.selected {
  border: 2px solid black;
  background-color: darkgray;
}

.selected img {
  border-bottom: 2px solid black;
}

.TeamGrid p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  display: flex;
  gap: 0.5rem;
}

input {
  flex-grow: 1;
}

select {
  flex-grow: 2;
}

@media (600px <= width <= 750px) {
  .TeamGrid {
    flex-grow: 1;
  }
}

@media (width < 600px) {
  #allPlayers {
    border-right: none;
  }

  .PlayerCard {
    max-width: max(214px, 50%);
  }
}
